<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Default title{% endblock %}</title>

  <link rel="stylesheet" href="./styles/main.min.css">

  {% include 'includes/favicon.twig' %}
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="theme-color" content="#fff">
</head>
<body class="page">
  {% include 'includes/header.twig' %}

  {% block page %}{% endblock %}

  {% include 'includes/footer.twig' %}

  {% include 'includes/modal.twig' %}

  <div style="height: 0; position: absolute; visibility: hidden; width: 0;">
    <!-- inject:svg --><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol viewBox="0 0 182 16" fill="none" id="sprite-arrow.svg"><path d="M181.707 8.707a1 1 0 000-1.414L175.343.929a1 1 0 10-1.414 1.414L179.586 8l-5.657 5.657a1 1 0 101.414 1.414l6.364-6.364zM0 9h181V7H0v2z" fill="#fff"/></symbol><symbol viewBox="0 0 24 24" fill="none" id="sprite-clip.svg"><path d="M17.71 11.82a.5.5 0 11.807.59l-.806-.59zM11.26 7.09a.5.5 0 01.806.59l-.806-.59zm7.258 5.32l-4.568 6.233-.807-.592 4.569-6.232.806.592zm-4.568 6.233c-1.209 1.648-2.678 2.53-4.15 2.779a5.274 5.274 0 01-4.008-.954 5.275 5.275 0 01-2.115-3.535c-.206-1.48.193-3.146 1.401-4.794l.807.591c-1.076 1.468-1.383 2.878-1.218 4.065a4.274 4.274 0 001.716 2.867 4.275 4.275 0 003.25.774c1.182-.2 2.434-.917 3.51-2.385l.807.592zm-8.872-6.504l6.181-8.431.807.59-6.181 8.432-.807-.59zm6.181-8.431c.826-1.127 1.92-1.663 3.043-1.733 1.11-.07 2.214.316 3.1.966.885.649 1.585 1.586 1.852 2.664.272 1.093.09 2.297-.736 3.424l-.807-.592c.652-.889.772-1.788.573-2.59-.203-.818-.747-1.567-1.474-2.1-.727-.533-1.605-.826-2.446-.774-.825.051-1.646.437-2.298 1.326l-.807-.591zm7.259 5.32l-5.913 8.066-.806-.592 5.912-8.065.807.592zm-5.913 8.066c-1.386 1.89-3.577 1.93-5.017.956-.72-.486-1.269-1.235-1.435-2.145-.167-.918.067-1.94.807-2.95l.806.591c-.603.824-.74 1.573-.629 2.18.112.614.487 1.142 1.011 1.496 1.046.708 2.618.69 3.65-.72l.807.592zM6.96 12.955l4.3-5.865.806.59-4.3 5.866-.806-.591z" fill="#fff"/></symbol><symbol viewBox="0 0 10 10" fill="none" id="sprite-cross.svg"><path opacity=".5" d="M9 9L5 5M1 1l4 4m0 0L1 9l8-8" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/></symbol><symbol viewBox="0 0 55 12" fill="none" id="sprite-ibrush.svg"><path d="M0 1.705l2.445 3.543H0v5.866h2.657V.234H0v1.471zM11.313 5.347c1.059-.384 1.58-1.17 1.58-2.356 0-.919-.325-1.604-.961-2.072-.636-.451-1.565-.685-2.755-.685H4.515v8.021l2.12 2.874h2.363a8.6 8.6 0 001.532-.133c.473-.1.93-.251 1.37-.468.44-.218.782-.535 1.043-.953.26-.418.374-.919.374-1.52 0-1.404-.668-2.307-2.005-2.708zM7.189 2.49h1.727c.359 0 .652.083.864.267.212.184.31.435.31.736 0 .317-.098.551-.31.735-.212.184-.489.267-.864.267L7.19 4.478V2.49zm1.907 6.383H7.172V6.601H9.08c.946 0 1.418.384 1.418 1.136 0 .752-.472 1.136-1.401 1.136zM22.07 7.72l-.522-.768c1.076-.602 1.728-1.621 1.728-3.058 0-.686-.114-1.27-.359-1.772-.244-.501-.587-.885-1.01-1.136a4.592 4.592 0 00-1.386-.568 6.883 6.883 0 00-1.597-.184h-4.32v1.47l2.445 3.543h-2.445v5.882h2.657V5.548l2.592 3.76c.538.668 1.32 1.805 3.57 1.805V8.405c-.767 0-1.093-.284-1.353-.685zm-1.842-2.807c-.245.217-.57.334-.995.334h-1.972V2.724h1.972c.408 0 .75.117.995.334.244.217.358.535.358.936 0 .4-.114.702-.358.919zm31.54-4.68v5.014h-3.944V.234h-2.657v1.454l2.445 3.542h-2.445v5.883h2.657V5.548l1.565 2.273h2.38v3.308h2.656V.234H51.77zM31.606 6.802c0 1.32-.652 1.972-1.972 1.972-1.32 0-1.972-.652-1.972-1.972V.234h-2.657v6.734c0 .786.13 1.47.407 2.056.277.585.636 1.036 1.108 1.37.473.334.979.568 1.517.719.537.15.978.234 1.597.234.62 0 1.19-.084 1.744-.234.538-.15.897-.401 1.37-.719.472-.334.83-.785 1.108-1.37.277-.585.407-1.27.407-2.056V.234h-2.657v6.567zm10.775-1.437c-.408-.25-1.06-.468-1.533-.668-.472-.2-.912-.368-1.32-.485a4.272 4.272 0 01-1.027-.434c-.277-.167-.407-.368-.407-.585 0-.451.652-.82 1.564-.836 1.32-.016 2.43.318 3.342 1.02V.869C41.973.284 40.8 0 39.414 0c-1.157 0-2.12.267-2.869.819-.75.551-1.125 1.337-1.125 2.373 0 .718.196 1.32.57 1.838.376.501.832.886 1.386 1.136.538.25 1.272.468 1.81.652s.994.368 1.385.585c.375.2.57.451.57.735 0 .267-.113.552-.358.669-.244.117-.652.167-1.206.167-1.418 0-2.885-.401-4.042-1.22v2.623c1.173.669 2.526 1.003 4.075 1.003 2.836 0 4.238-1.103 4.238-3.325 0-.602-.13-1.137-.408-1.588-.31-.501-.652-.852-1.06-1.103z" fill="#9A9A9A"/></symbol><symbol viewBox="0 0 13 8" fill="none" id="sprite-toggle.svg"><path d="M1 1l5.5 5L12 1" stroke="#fff" stroke-width="1.5"/></symbol></svg><!-- endinject -->
  </div>
  <script src="./js/main.bundle.js?v1.0"></script>
</body>
</html>
