@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin font-face($family, $src, $display: swap, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url("#{$src}.woff2") format("woff2"),
      url("#{$src}.woff") format("woff");
    font-style: $style;
    font-weight: $weight;
    font-display: $display;
  }
}
