html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  font-size: 1.6rem;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: $tablet-container-width;
    padding: 0 3rem;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-container-width;
    padding: 0 5.5rem;
  }
}


.mobile-container {
  display: block;
  margin: 0 auto;
  padding: 0 2.5rem;
  max-width: $mobile-container-width;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.desktop-only {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.desktop-exclude {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
