{% extends 'templates/base.twig' %}

{% block title %}Курсы SkillBox{% endblock %}

{% block page %}
  <main class="page__main main">
    <div class="container">
      <h1 class="main__title">
        <span class="mobile-container">Стоимость обучения</span>
      </h1>
      <div class="order">
        <div class="price order__price">
          <div class="price__lead-wrap">
            <p class="price__lead">
              <span class="price__lead-name">Скидка</span>
              <span class="price__lead-number">40%</span>
              <span class="price__lead-count">первым 20</span>
            </p>
          </div>
          <dl class="price__list">
            <div class="price__dim-item mobile-container">
              <dt class="price__term">Полная стоимость курса</dt>
              <dd class="price__desc">50 000
                <span class="visually-hidden">рублей</span>
              </dd>
            </div>
            <div class="price__bold-item mobile-container">
              <dt class="price__term">Рассрочка без первого взноса</dt>
              <dd class="price__desc">2 900
                <span class="visually-hidden">рублей</span>
              </dd>
            </div>
            <div class="price__thin-item mobile-container">
              <dt class="price__term">Первым 20-ти</dt>
              <dt class="price__term price__term--desktop">Для первых  20-ти</dt>
              <dd class="price__desc">29 000
                <span class="visually-hidden">рублей</span>
              </dd>
            </div>
          </dl>
        </div>
        <form class="form order__form js-form" action="/" method="POST" enctype="application/x-www-form-urlencoded">
          <div class="mobile-container">
            <h2 class="form__title">Запишитесь на&nbsp;курс</h2>
            <ul class="form__list">
            {% for set i in 0..3 %}
              <li class="form__item">Телефон</li>
            {% endfor %}
            </ul>
            <div class="form__text-wrap">
              <p class="form__text">Старт курса:
                <time class="form__text-accent" datetime="06-15">15&nbsp;июня</time>
                <time class="form__text-accent form__text-accent--desktop" datetime="09-07">&ensp;7&nbsp;сентября</time>
              </p>
              <p class="form__text">Осталось:
                <span class="form__text-accent">15&nbsp;мест</span>
                <span class="form__text-accent form__text-accent--desktop">19&nbsp;мест</span>
              </p>
            </div>
            <label class="form__label">
              <input class="form__input js-input" data-required="true" data-type="name" type="text" name="NAME" placeholder="Имя">
              <span class="form__label-text">Имя</span>
              <span class="form__error">Пожалуйста, введите Ваше имя</span>
            </label>
            <label class="form__label">
              <input class="form__input js-input" data-required="true" data-type="tel" data-mask="tel" type="tel" name="TEL" inputmode="tel" placeholder="Телефон">
              <span class="form__label-text">Телефон</span>
              <span class="form__error">Телефон в формате 8 (999) 999-99-99</span>
            </label>
            <label class="form__label">
              <input class="form__input js-input" data-required="true" data-type="email" type="text" name="EMAIL" inputmode="email" placeholder="Email">
              <span class="form__label-text" lang="en">Email</span>
              <span class="form__error">Пожалуйста, введите Ваш email</span>
            </label>
            <div class="form__submit-wrap">
              <label class="form__consent">
                <input class="form__consent-input js-input" data-required="true" data-type="toggle" type="checkbox" name="CONSENT" value="true" checked>
                <span class="form__consent-text">Я&nbsp;согласен с&nbsp;условиями обработки
                    <a class="form__consent-link" href="assets/google_privacy_policy_en.pdf" target="_blank">персональных данных</a>
                </span>
                <span class="form__error">Это поле должно быть заполнено</span>
              </label>
              <button class="button form__submit" type="submit">Записаться</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
